<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Student Data</h1>
    <form action="/submitdata" method="post" enctype="multipart/form-data">
      <label for="Name">Name</label><br />
      <input type="text" name="name" /><br />
      <label for="profile">Profile</label><br />
      <input type="file" name="profile" /><br />
      <label for="course">Course</label><br />
      <input type="text" name="course" /><br />
      <label for="">Email</label><br />
      <input type="email" name="email" /><br />
      <label for="">Password</label><br />
      <input type="password" name="password" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
